<%if posts.size != 0%>
    <h5>Published Posts : <%=posts.first.category.name%></h5>
    <% posts.each do|post|%>
        <div class = "card mb-3">
            <div class = "card">
                <div class = "card-body">  
                    <h4><%=post.title%></h4>
                    <h6><%= post.body.truncate(300) %></h6>
                </div>
            </div>
            <div class = "card-footer">
                <h6>Published at <%=time_ago_in_words(post.created_at)%></h6>
                <h6>by <%=post.user.email%></h6>
                <h6><%= link_to "read more", post_read_path(post)%></h6>
                <div class = "d-flex justify-content-start">
                    <% post.tags.each do|tag|%>
                    <span class = "badge badge-info mr-3">
                        <%= link_to tag.name, tag_search_path(tag.name)%>
                    </span>
                    <%end%>
                </div>
                <div class = "d-flex justify-content-end">
                    <span class = "badge badge-warning mr-3">
                        <%= link_to post.category.name, category_search_path(post.category.name)%>
                    </span>
                </div>
            </div>
        </div>
    <%end%>
    <%else%>
    <h5>No Published Posts Yet</h5>
<%end%>